<ion-header>
  <ion-toolbar style="margin-top: 17px">
    <ion-button class="bottoniLog" *ngIf="!userLoggedIn()" style="float: left; margin-right: 5px; margin-left: 5px;" (click)="signup()">Registrati<ion-icon style="margin-left: 5px" name="person-add-outline"></ion-icon></ion-button>
    <ion-button class="bottoniLog" *ngIf="!userLoggedIn()" style="margin-right: 5px; margin-left: 5px;" (click)="login()">Accedi <ion-icon name="log-in-outline"></ion-icon></ion-button>
    <ion-button class="bottoniLog" style="margin-left: 50px; margin-right: 5px; margin-top: 10px;" (click)="authservice.SignOut()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
    <ion-button class="bottoniLog" style="margin-right: 130px; margin-top: 10px;" (click)="this.navController.back();"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    <ion-img src="../../../assets/icon/titolo_everylibrary.png" id="logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Città, Biblioteche, ..."></ion-searchbar>
  <br>
  <br>
  <div #mapElement id="map"></div>

  <ion-list>
          <ion-card *ngFor="let biblioteca of bibliotecheList | async"
                    routerLink="/biblioteca/{{biblioteca.id}}">
          <ion-card><h2 style="text-align: center">
            <ion-icon class="icona" name="library-outline" [style.color]="'#82552E'" slot="start"></ion-icon>
            {{ biblioteca.nome }}</h2>
          </ion-card>
            <ion-card-content>
        Posizione: {{ biblioteca.via+' n°'+biblioteca.civico }}
        <br>
        Contatti: {{biblioteca.telefono }}
        <br>
        Orari: {{biblioteca.orario_apertura+'-'+biblioteca.orario_chiusura}}

              <ion-button style="width: fit-content;padding: 10px; font-size: 10px; float: right;">Vedi di più</ion-button>

            </ion-card-content>
          </ion-card>
  </ion-list>
</ion-content>
