.bottoniLog{
  font-size: 12px;
  display: block;
  --background: #c0e080;
  --border-radius: 50px;
  width: fit-content;
  float: right;
}
#logo{
  padding: 10px;
}
.header-md::after{
  background-image: none;
}
ion-toolbar{
  text-align: -webkit-center;
  --background: #d8f2a2;
}
ion-toolbar:first-of-type{
  padding: 0;
}
ion-content{
  //text-align: center;
  --background: #d8f2a2;
}
ion-button{
  --background: #c0e080;
  --color: black;
  width: 200px;
  --border-radius: 10px;
}

ion-list{
  background-color: #d8f2a2;
}
ion-item{
  --background: #d8f2a2;
}
.libro{
  height: 250px;
  width: 250px;
  align-content: center;
}
.prestito{
  margin-left: 35px;
  margin-bottom: 20px;
}
.icona{
  height: 40px;
  width: 40px;
  margin: auto;
  color: tomato;
}
ion-segment-button {
  border: 1px solid rgb(0 0 0 / 8%);
  border-radius: 10px;
  background-color: #c0e080;
  width: fit-content;
  margin-inline: auto;
}
.bottonePrestito{
  width: 200px;
  width: -moz-fit-content;
  margin-left: 30px;
  margin-bottom: 20px;
  height: 40px;
}
