<ion-header>
  <ion-toolbar style="margin-top: 17px">
    <ion-button class="bottoniLog" style="margin-left: 50px; margin-right: 5px; margin-top: 10px;" (click)="authservice.SignOut()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
    <ion-button class="bottoniLog" style="margin-right: 130px; margin-top: 10px;" (click)="this.navController.back();"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    <ion-img src="../../../assets/icon/titolo_everylibrary.png" id="logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <ion-title style="text-align: center;">
    Info Libro
  </ion-title>
  <br>
  <ion-img class="libro" src="../../../assets/icon/ONYX.jpg"></ion-img>
  <br>
  <ion-item>
    <ion-label>Titolo: <br> {{ libro?.titolo }} </ion-label>
  </ion-item>

  <ion-item>
    <ion-label>ISBN: </ion-label>
    <ion-text> {{ libro?.isbn }} </ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Autore: <br> <ion-label style="float: right;"> {{ libro?.autore }} </ion-label></ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Editore: <br> <ion-label style="float: right;">{{ libro?.editore }} </ion-label></ion-label>
  </ion-item>

  <br>
  <br>
  <ion-title style="text-align: center;">
    Info Prenotazione
  </ion-title>

  <ion-item>
    <ion-label>Biblioteca: </ion-label>
    <ion-text> {{ biblioteca?.nome }} </ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Corsia: </ion-label>
    <ion-text> {{ libro?.posizione_corsia }} </ion-text>
  </ion-item>

  <ion-item>
    <ion-label style="color: black; opacity: unset;">Prenotazione: {{ today | date:'dd/MM/yyyy'}} </ion-label>
    <ion-datetime disabled [(ngModel)]="today"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Data Ritiro: </ion-label>
    <ion-datetime displayFormat="DD MM YYYY" min="2021-01-01" max="2030-12-31" placeholder="Scegli data" [(ngModel)]="dataRitiro"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Periodo Prestito: <ion-label style="float: right;">{{ biblioteca?.periodo_prestito }}</ion-label></ion-label>
  </ion-item>

  <br>
  <ion-button class="bottonePrestito" (click)="prestato(prestito)">
    <ion-text *ngIf="prestito">{{ ciccio }}</ion-text>
    <ion-text *ngIf="!prestito">{{ ciccio }}</ion-text>
  </ion-button>

</ion-content>
