.bottoniLog{
    font-size: 12px;
    margin-right: 10px;
    text-align-last: center;
    --background: #c0e080;
    --border-radius: 50px;
    width: fit-content;
}

#logo{
  height: 120px;
}

ion-toolbar{
  --background: #d8f2a2;
}

ion-toolbar:first-of-type{
  padding: 0;
}
.header-md::after{
  background-image: none;
}
ion-content{
    text-align: center;
    --background: #d8f2a2;
}

ion-button{
    --background: #c0e080;
    --color: black;
    width: 200px;
    --border-radius: 10px;
}

ion-input{
    width: 80%;
    height: 60%;
    text-align: center;
    background-color: #def3cd;
    margin: 10px 10%;
    border: 1px solid grey;
    border-radius: 4px;
    color: black;
}
ion-card-header{
  margin-bottom: -20px;
  margin-top: -25px
}
.error_message{
  color: red;
  padding: 10px 0px 10px 5px;
  font-size: 12px;
}
input.native-input.sc-ion-input-md{
  font-size: 14px;
}
