<ion-header>
  <ion-toolbar style="margin-top: 17px;">
    <ion-button class="bottoniLog" (click)="this.navController.back();"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-header style="">
      <ion-img src="../../../assets/icon/logo_everylibrary_senza_sfondo_-_Copia-removebg-preview.png" id="logo"></ion-img>
    </ion-card-header>
  <form [formGroup]="validationFormUser" (ngSubmit)="registerUser(validationFormUser.value)" >
    <div>
      <ion-input type="text" placeholder="nome" formControlName="name">
        <div>
          <ng-container *ngFor="let validation of validationMessages.name">
            <div class="error_message" *ngIf="validationFormUser.get('name').hasError(validation.type) && (validationFormUser.get('name').dirty || validationFormUser.get('name').touched)">
              {{validation.message}}
            </div>
          </ng-container>
        </div>
      </ion-input>


      <ion-input type="text" placeholder="cognome" formControlName="surname">
        <div>
          <ng-container *ngFor="let validation of validationMessages.surname">
            <div class="error_message" *ngIf="validationFormUser.get('surname').hasError(validation.type) && (validationFormUser.get('surname').dirty || validationFormUser.get('surname').touched)">
              {{validation.message}}
            </div>
          </ng-container>
        </div>
      </ion-input>


      <ion-input type="date" formControlName="birthdate">
        <div>
          <ng-container *ngFor="let validation of validationMessages.birthdate">
            <div class="error_message" *ngIf="validationFormUser.get('birthdate').hasError(validation.type) && (validationFormUser.get('birthdate').dirty || validationFormUser.get('birthdate').touched)">
              {{validation.message}}
            </div>
          </ng-container>
        </div>
      </ion-input>


      <ion-input type="tel" placeholder="telefono" formControlName="tel">
        <div>
          <ng-container *ngFor="let validation of validationMessages.tel">
            <div class="error_message" *ngIf="validationFormUser.get('tel').hasError(validation.type) && (validationFormUser.get('tel').dirty || validationFormUser.get('tel').touched)">
              {{validation.message}}
            </div>
          </ng-container>
        </div>
      </ion-input>


      <ion-input type="email" placeholder="email" formControlName="email">
        <div>
          <ng-container *ngFor="let validation of validationMessages.email">
            <div class="error_message" *ngIf="validationFormUser.get('email').hasError(validation.type) && (validationFormUser.get('email').dirty || validationFormUser.get('email').touched)">
              {{validation.message}}
            </div>
          </ng-container>
        </div>
      </ion-input>

      <!--
      <ion-input type="text" placeholder="username">
        <ion-icon name="" style="margin-left: 5px;"></ion-icon>
      </ion-input> -->
      <ion-input type="password" placeholder="password" formControlName="password">
        <div>
          <ng-container *ngFor="let validation of validationMessages.password">
            <div class="error_message" *ngIf="validationFormUser.get('password').hasError(validation.type) && (validationFormUser.get('password').dirty || validationFormUser.get('password').touched)" >
              {{validation.message}}
            </div>
          </ng-container>
        </div>
      </ion-input>

    </div>
  <ion-button type="submit" [disabled]="!validationFormUser.valid"><b>Registrati</b></ion-button>
  </form>
</ion-content>
