<ion-header>
  <ion-toolbar style="margin-top: 17px">
    <ion-button class="bottoniLog" style="float: left; margin-right: 5px; margin-left: 5px; margin-top: 10px;" (click)="this.navController.back();"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    <ion-button class="bottoniLog" *ngIf="!userLoggedIn()" style="float: right;margin-right: 5px; margin-left: 5px;margin-top: 10px;" (click)="login()">Accedi <ion-icon name="log-in-outline"></ion-icon></ion-button>
    <ion-button class="bottoniLog" *ngIf="userLoggedIn()" style="margin-left: 50px; margin-right: 5px; margin-top: 10px;" (click)="authservice.SignOut()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
    <ion-img src="../../../assets/icon/titolo_everylibrary.png" id="logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <ion-card-title style="text-align: center;">
    <b>{{ libro?.titolo }}</b>
  </ion-card-title>
  <br>
  <ion-img class="libro" src="../../../assets/icon/ONYX.jpg"></ion-img>
  <br>
  <ion-segment-button (click)="favorite(isFavorited)">
    <ion-icon class="icona" style="" name="heart-circle-outline"></ion-icon>
    <ion-text *ngIf="!isFavorited" style="color: tomato"> {{ pippo }} </ion-text>
    <ion-text *ngIf="isFavorited" style="color: tomato"> {{ pippo }} </ion-text>
  </ion-segment-button>
  <br>
  <ion-item>
    <ion-label>ISBN: </ion-label>
    <ion-text> {{ libro?.isbn }} </ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Data Pubblicazione:<br> <ion-label style="float: right;">{{ libro?.dataPubblicazione }}</ion-label></ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Autore: <br> <ion-label style="float: right;">{{ libro?.autore }}</ion-label></ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Editore: <br> <ion-label style="float: right;">{{ libro?.editore }}</ion-label></ion-label>
  </ion-item>

  <ion-item>
    <ion-label>Genere: </ion-label>
    <ion-text> {{ libro?.genere }} </ion-text>
  </ion-item>

  <br>
  <ion-item>
    <ion-text>Trama:
    <br>
      <br>
      {{ libro?.trama }}
    </ion-text>
  </ion-item>
  <br>

  <ion-button class="bottonePrestito" [routerLink]="['/prestito', route.snapshot.paramMap.get('id'), route.snapshot.paramMap.get('idBiblioteca')]"> Prendi in prestito </ion-button>
</ion-content>
