.bottoniLog{
    font-size: 12px;
    margin-right: 10px;
    text-align-last: center;
    --background: #c0e080;
    --border-radius: 50px;
    
}

#logo{
    padding: 10px;
}

ion-toolbar{
    --background: #859b59;
}

ion-content{
    text-align: center;
    --background: #d8f2a2;
}

ion-searchbar{
    font-size: 4px;
    --background: white;
    --color: black;
    --border-radius: 50px;
}

ion-button{
    --background: #c0e080;
    --color: black;
    width: 200px;
    --border-radius: 10px;
}