<ion-header>
  <ion-toolbar style="margin-top: 17px">
    <!--<ion-button class="bottoniLog" style="margin-left: 50px; margin-right: 5px; margin-top: 10px;" (click)="this.navController.navigateBack('login');"><ion-icon name="log-out-outline"></ion-icon></ion-button>-->
    <ion-button class="bottoniLog" *ngIf="!userLoggedIn()" style="float: left; margin-left: 5px; margin-right: 5px;" (click)="signup()">Registrati<ion-icon style="margin-left: 5px" name="person-add-outline"></ion-icon></ion-button>
    <ion-button class="bottoniLog" *ngIf="!userLoggedIn()" style="margin-left: 5px; margin-right: 5px;" (click)="login()">Accedi <ion-icon name="log-in-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../../../assets/icon/logo_everylibrary_senza_sfondo_-_Copia-removebg-preview.png" id="logo"></ion-img>
  <br>
  <ion-button (click)="linkMappaBiblioteche()">Mappa Biblioteche</ion-button>
  <br>
  <ion-searchbar (ionInput)="filterJSONData($event)" placeholder="Città, Biblioteche, ..."></ion-searchbar>
  <!--<ion-item *ngFor="let item of jsonData">
    {{item.name}}
  </ion-item>-->
  <br>
  <ion-button (click)="linkAreaRiservata()">Area Riservata</ion-button>
</ion-content>
