<ion-header>
  <ion-toolbar style="margin-top: 17px">
    <ion-button class="bottoniLog" *ngIf="!userLoggedIn()" style="float: left; margin-left: 5px; margin-right: 5px;" (click)="signup()">Registrati<ion-icon style="margin-left: 5px" name="person-add-outline"></ion-icon></ion-button>
    <ion-button class="bottoniLog" *ngIf="!userLoggedIn()" style="margin-left: 5px; margin-right: 5px;" (click)="login()">Accedi <ion-icon name="log-in-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../../../assets/icon/logo_everylibrary_senza_sfondo_-_Copia-removebg-preview.png" id="logo"></ion-img>
  <br>
  <ion-button (click)="linkMappaBiblioteche()">Mappa Biblioteche</ion-button>
  <br>
  <form [formGroup]="ricercaBiblioteca" (ngSubmit)="ricerca(ricercaBiblioteca.value)">
      <div class="wrapform" style="display: inline-flex; margin-top: 10px; width: fit-content;">
        <ion-input type="text" placeholder="Cerca nome biblioteca" formControlName="ricerca" style=" background-color: white; color:black; width: 180px; border-radius: 10px; border:solid 1px black; height: 25px; float: left;">
        </ion-input>
        <ion-button type="submit" [disabled]="!ricercaBiblioteca.valid" style=" background-color: white; color:black; width: 50px; border-radius: 10px; border:solid 1px black; height: 25px; margin-top: auto;"><ion-icon name="search"></ion-icon></ion-button>
      </div>
      <div>
        <ng-container *ngFor="let validation of validationFormRicerca.ricerca">
          <div class="error_message" *ngIf="ricercaBiblioteca.get('ricerca').hasError(validation.type) && (ricercaBiblioteca.get('ricerca').dirty || ricercaBiblioteca.get('ricerca').touched)" style="color: red; margin-top: 4px; font-size: 13px;">
            {{validation.message}}
          </div>
        </ng-container>
      </div>
  </form>
  <br>
  <ion-button (click)="linkAreaRiservata()">Area Riservata</ion-button>
</ion-content>
