<ion-header>
  <ion-toolbar style="margin-top: 17px">
    <ion-icon name="person-add-outline"></ion-icon>
    <ion-icon name="log-in-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-img src="../../../assets/icon/logo_everylibrary_senza_sfondo_-_Copia-removebg-preview.png" id="logo"></ion-img>
      <ion-searchbar placeholder="Città, Biblioteche, ..."></ion-searchbar>
      <br>
      <ion-button href="">Mappa Biblioteche</ion-button>
      <br>
      <br>
      <ion-button href="">Area Riservata</ion-button>
</ion-content>