<ion-header>
  <ion-toolbar style="margin-top: 17px">
    <!--<ion-button class="bottoniLog" style="float: left" (click)="signup()">Registrati<ion-icon style="margin-left: 5px" name="person-add-outline"></ion-icon></ion-button>
    <ion-button class="bottoniLog"  (click)="login()">Accedi <ion-icon name="log-in-outline"></ion-icon></ion-button>-->
    <ion-img src="../../../assets/icon/titolo_everylibrary.png" id="logo"></ion-img>
    <ion-button class="bottoniLog" (click)="this.navController.navigateBack('login');"><ion-icon name="log-out-outline"></ion-icon></ion-button>
    <ion-button class="bottoniLog" (click)="this.navController.back();"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-searchbar placeholder="Cerca un libro"></ion-searchbar>
  <ion-button (click)="linkLibro()">Cancellare bottone->Libro</ion-button>
  <ion-list>
    <ion-card>
      <ion-card-content>
        <ion-icon name="book-outline"></ion-icon>
        <br>
        Titolo: Il bello dell'essere morti
        <br>
        Autore: Fredrick Panch
        <br>
        Editore: Mondadori
        <br>
        Disponibilità: 60
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-icon name="book-outline"></ion-icon>
        <br>
        Titolo: Il bello dell'essere morti
        <br>
        Autore: Fredrick Panch
        <br>
        Editore: Mondadori
        <br>
        Disponibilità: 60
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-icon name="book-outline"></ion-icon>
        <br>
        Titolo: Il bello dell'essere morti
        <br>
        Autore: Fredrick Panch
        <br>
        Editore: Mondadori
        <br>
        Disponibilità: 60
      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>
