<ion-header>
  <ion-toolbar style="margin-top: 17px">
   <!--<ion-button class="bottoniLog" *ngIf="!userLoggedIn()" style="float: left; margin-right: 5px; margin-left: 5px;" (click)="signup()">Registrati<ion-icon style="margin-left: 5px" name="person-add-outline"></ion-icon></ion-button>-->
    <ion-button class="bottoniLog" style="float: left; margin-right: 5px; margin-left: 5px; margin-top: 10px;" (click)="this.navController.back();"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    <ion-button class="bottoniLog" *ngIf="!userLoggedIn()" style="float:right; margin-right: 5px; margin-left: 5px;margin-top: 10px;" (click)="login()">Accedi <ion-icon name="log-in-outline"></ion-icon></ion-button>
    <ion-button class="bottoniLog" *ngIf="userLoggedIn()" style="margin-left: 50px; margin-right: 5px; margin-top: 10px;" (click)="authservice.SignOut()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
    <div>
    <ion-img src="../../../assets/icon/titolo_everylibrary.png" id="logo"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-card style="background-color: #c0e080;padding: 0">
    <ion-card-content>
  <ion-title style="font-weight: bolder; color: #374124">
    {{ biblioteca?.nome }}
  </ion-title>
  <ion-item>
    <ion-label>Posizione: </ion-label>
    <ion-text> {{ biblioteca?.via+' n°'+biblioteca?.civico }} </ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Telefono: </ion-label>
    <ion-text> {{biblioteca?.telefono }} </ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Orario apertura: </ion-label>
    <ion-text> {{biblioteca?.orario_apertura}} </ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Orario chiusura: </ion-label>
    <ion-text> {{biblioteca?.orario_chiusura}} </ion-text>
  </ion-item>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-button (click)="linkListaLibri()">Lista Libri</ion-button>
  <br>
  <form [formGroup]="ricercaLibro" (ngSubmit)="ricerca(ricercaLibro.value)">
    <div class="wrapform" style="display: inline-flex; margin-top: 10px; width: fit-content;">
      <ion-input type="text" placeholder="Cerca titolo libro" formControlName="ricerca" style=" background-color: white; color:black; width: 180px; border-radius: 10px; border:solid 1px black; height: 25px; float: left;">
      </ion-input>
      <ion-button type="submit" [disabled]="!ricercaLibro.valid" style=" background-color: white; color:black; width: 50px; border-radius: 10px; border:solid 1px black; height: 25px; margin-top: auto;"><ion-icon name="search"></ion-icon></ion-button>
    </div>
    <div>
      <ng-container *ngFor="let validation of validationFormRicerca.ricerca">
        <div class="error_message" *ngIf="ricercaLibro.get('ricerca').hasError(validation.type) && (ricercaLibro.get('ricerca').dirty || ricercaLibro.get('ricerca').touched)" style="color: red; margin-top: 4px; font-size: 13px;">
          {{validation.message}}
        </div>
      </ng-container>
    </div>

  </form>

</ion-content>
