<ion-header>
  <ion-toolbar style="margin-top: 17px">
    <ion-button class="bottoniLog" style="float: left; margin-right: 5px; margin-left: 5px; margin-top: 10px;" (click)="this.navController.back();"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    <ion-button class="bottoniLog" *ngIf="userLoggedIn()" style="margin-left: 50px; margin-right: 5px; margin-top: 10px;" (click)="authservice.SignOut()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
    <ion-img src="../../../assets/icon/titolo_everylibrary.png" id="logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-searchbar showCancelButton="" (ionInput)="filterList($event)" placeholder="Cerca un libro"></ion-searchbar>
  <ion-list>
    <ion-card *ngFor="let libro of libriList"
              [routerLink]="['/libro-singolo', libro.id]">
      <ion-icon class="icona" name="book-outline"></ion-icon>
      <ion-card-content>
        Titolo: {{ libro?.titolo }}
        <br>
        Autore: {{ libro?.autore }}
        <br>
        Data Pubblicazione: {{ libro?.dataPubblicazione }}
        <br>
        Posizione Corsia: {{ libro?.posizione_corsia }}
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
