.bottoniLog{
    font-size: 12px;
    margin-right: 10px;
    text-align-last: center;
    --background: #c0e080;
    --border-radius: 50px;
    width: fit-content;
}

#logo{
    padding: 10px;
}

ion-toolbar:first-of-type{
  padding: 0;
}

ion-toolbar{
    --background: #859b59;
}

ion-content{
    text-align: center;
    --background: #d8f2a2;
}

ion-button{
    --background: #c0e080;
    --color: black;
    width: 200px;
    --border-radius: 10px;
}

ion-input{
  width: 80%;
  text-align: center;
  background-color: #def3cd;
  margin-left: 10%;
  border: 1px solid grey;
  border-radius: 4px;
}
