<ion-header>
  <ion-toolbar style="margin-top: 17px">
    <ion-img src="../../../assets/icon/titolo_everylibrary.png" id="logo"></ion-img>
    <ion-button class="bottoniLog" (click)="this.navController.navigateBack('login');"><ion-icon name="log-out-outline"></ion-icon></ion-button>
    <ion-button class="bottoniLog" (click)="this.navController.back();"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
    <ion-item>
      <ion-label>Nome: </ion-label>
      <ion-text> Luca </ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Cognome: </ion-label>
      <ion-text> Ruggeri </ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Data Di Nascita: </ion-label>
      <ion-text> 18/07/1997 </ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-text> luca@gmail.com </ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Telefono: </ion-label>
      <ion-text> 3452617234 </ion-text>
    </ion-item>
  <br>
  <ion-button (click)="linkLibriPrenotati()">Libri Prenotati</ion-button>
  <br>
  <br>
  <ion-button (click)="linkLibriPreferiti()">Libri Preferiti</ion-button>
</ion-content>
